{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/listado.css' %}">

    <title>MiPC/despacho</title>
</head>
<body>
    <div class="contenedor">
        <header class="cabecera">
          <img class="logo" src="{% static '/logo.png' %}" alt="">
          <a href="/compu">inicio</a>
          <a href="#">explorar</a>
          <a href="#">soporte</a>
  
          <img class="bolsa" src="{% static '/bolsa.png' %}" alt="">
          <img class="lupa" src="{% static '/lupa.png' %}" alt="">
        </header>
  
        <div class="titulo">
          <h1 >Listado de despachos</h1>
        </div>
        <table class="table">
          <tr >
            <th class="col">id</th>
            <th class="col">nombre</th>
            <th class="col">apellido</th>
            <th class="col">email</th>
            <th class="col">telefono</th>
            <th class="col">direccion</th>
            <th class="col">tipo de residencia</th>
            <th class="col">ciudad</th>
            <th class="col">Region</th>
            <th class="col">zip</th>
            <th> opciones </th>
          </tr>
          {% for i in desp %}
          <tr class="">
            <th scope="row">{{i.id}}</th>
            <td class="">{{i.nombre}}</td>
            <td class="">{{i.apellido}}</td>
            <td class="">{{i.email}}</td>
            <td class="">{{i.telefono}}</td>
            <td class="">{{i.direccion}}</td>
            <td class="">{{i.tprs}}</td>
            <td class="">{{i.ciudad}}</td>
            <td class="">{{i.region}}</td>
            <td class="">{{i.zip}}</td>  
            <td> 
              <a href="/modificar/{{i.id}}">Modificar</a>
              <a href="/eliminar/{{i.id}}">Eliminar</a>
            </td>        
          </tr>
          {% endfor %}
        </table>
    </div>    

    </div>
    
</body>
</html>
