*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">);
}

.contenedor
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  text-decoration: none;
}

.cabecera
{
  background-color: #2C2B2B;
  height: 50px;
  grid-column: 1/13;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.cabecera a
{

  color: #EAEAEA;
  text-align: center;
  padding-left: 140px;
  float: left;
  padding-top: 10px;
  text-decoration: none;
}

.logo
{
  float: left;
  padding-left: 350px;
  padding-top: 5px;
}

.lupa
{
  float: right;
  padding-right: 20px;
  padding-top: 7px;
}

.bolsa
{
  float: right;
  padding-right: 350px;
  padding-top: 7px;
}

.titulo{
  grid-column: 1/13;
  text-align: center;
  margin: 20px;
}

.despachar
{
  grid-column: 2/12;
}

.finalizar
{

  padding-left: 585px;
  height: 70px;
}

.pie
{

  height: 130px;
  background-color: #e2e1e1;
  grid-column: 1/13;
}

.pietx
{
  padding-left: 0px;
  padding-top: 10px;
  text-align: center;
  color:#8F8D8D ;
  font-size: 12px;
}
.form-control:focus{
  border: 3px solid #0075FF;

}
.formulario_label_incorrecto{
  color : #bb2929 ;
}
label.error{
  color: red;
}
@media(max-width:720px)
{
  .cabecera a
  {

    color: #EAEAEA;
    text-align: center;
    padding-left: 35px;
    float: left;
    padding-top: 10px;
    text-decoration: none;
  }

  .logo
  {
    float: left;
    padding-left: 150px;
    padding-top: 5px;
  }

  .lupa
  {
    float: right;
    padding-right: 10px;
    padding-top: 7px;
  }

  .bolsa
  {
    float: right;
    padding-right: 150px;
    padding-top: 7px;
  }

  .finalizar
  {

    padding-left: 255px;
    height: 70px;
  }

}
